* {
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(45deg, #d1c4e9, #ffc1e3, #75B8ED);
    box-shadow: 28px 10px 10px rgba(#d1c4e9, #ffc1e3, 0, 0.5);
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "jsMath";
  src: url("assets/fonts/jsMath-cmmi10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radley";
  src: url("assets/fonts/Radley-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------*/
.card {
  min-height: 100vh;
  color: white;
  /* position: sticky;
    top: 0; */
}
nav {
  width: 50%;
  position: fixed;
  right: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  padding: 10px;
  font-size: 1.5rem;
  font-family: "jsMath";
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
